:root {
    --mouseColor: #86A0A6;  /* ネズミ色 */
    --lightMouseColor: #86A0A6;  /* 薄ネズミ色 */
    --whiteAlpha70: #ffffffB3;  /* 不透明度70%の白色 */
    --textColor: #010418;  /* 文字の色 */
    --textAlphaColor: #818181;  /* 薄い文字の色 */
    --gray: #E6E6E6;  /* 灰色 */
    --red: #EC6F7C;  /* 赤色 */
}